{% block content %}
        <form action="/frontend/add" method="post" id="task">
            {% for field in form %}
                {% if not field.type == "CSRFTokenField" %}
                <td>
                    {{ field }}
                </td>
                {% endif %}
                {% if field.type == "SubmitField" %}
                <td />
                {% endif %}
            {% endfor %}
        </form>
{% endblock %}
