{% block content %}
    <form action="/frontend/edit" method="post" id="task">
        <input type="hidden" value={{edit}} name="id"><input type="hidden" value="1" name="do_edit">
        {% for field in edit_form %}
            {% if not field.type == "CSRFTokenField" %}
            <td>
                {{ field }}
            </td>
            {% endif %}
            {% if field.type == "SubmitField" %}
            <td>
                {{ edit }}
            </td>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
