<html>
    <head>
        <title>ToDo Example App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <table id="tasks">
            <h1>ToDo Example App!</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% if tasks %}
            <tr>
                <th>
                    ADD / DELETE
                </th>

                {% for header in tasks[0].serialized_output().keys() %}
                {% if reverse == 1 %}
                <th onclick="document.location = '/frontend/sort/{{header}}/0';">
                {% else %}
                <th onclick="document.location = '/frontend/sort/{{header}}/1';">
                {% endif %}
                    {{ header.upper() }}
                </th>
                    {% endfor %}
            </tr>
            {% for task in tasks|sort(attribute=sort, reverse=reverse) %}
            <tr>
                {% if edit == task.serialized_output(human_readable=True)['id'] %}
                    {% include 'edit.html'%}
                {% else %}
                <td>
                    <form action="/frontend/edit/{{task.id}}" method="post" id="delete">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/frontend/delete" method="post" id="delete">
                        <input type="hidden" value={{task.id}} name="id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                {% endif %}
                {% if not edit == task.serialized_output(human_readable=True)['id'] %}
                    {% for key, item in task.serialized_output(human_readable=True).items() %}
                        {% if key == 'priority' %}
                <td style="background-color: {{task.priority.colour}}">
                        {% else %}
                <td>
                        {% endif %}
                        {{ item }}
                </td>
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
        {% else %}
            <h2>No tasks available! Please add one:</h2>
        {% endif %}
        {% include 'add.html' %}
        {{ form.CSRF_token }}
            </tr>
        </table>
    </body>
</html>

