#tasks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#tasks td, #tasks th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tasks form {
    display: inline-block;
}
ul {
    text-align: center;
}
h1 {
    text-align: center;
}

#tasks tr:nth-child(even){background-color: #f2f2f2;}

#tasks tr:hover {background-color: #ddd;}

#tasks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
